name: Render and Publish Quarto

on:
  push:
    branches: [ main ]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Render Quarto Project
        run: |
          quarto render

      - name: Post-Render Cleanup
        run: |
          # Force the CNAME back in case Quarto wiped the folder
          echo "docs.realgoodresearch.com" > docs/CNAME
          # Ensure GitHub doesn't try to run Jekyll
          touch docs/.nojekyll

      - name: Commit and Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto-render Quarto site [skip ci]"
          file_pattern: 'docs/*'